.profile-text {
  text-align: center;
  font-weight: 800;
  font-size: large;
}

.btn-return {
  margin-left: 35px;
  margin-top: 28px;
  font-size: 20px;
}

.right {
  float: right;
}

.main {
  margin-top: 10%;
}
