.btn-return {
  margin-left: 35px;
  margin-top: 28px;
  font-size: 20px;
}

.title {
  text-align: center;
  font-weight: 800;
  font-size: large;
}

.main {
  margin-top: 10%;
  text-align: center;
}

.btnurl {
  margin-top: 5%;
}

.rules {
  margin-top: 6%;
}
