<div class="main">
    <p class="question">Did one of your two parents live in United Kingdom or eligible territory ?</p>
    <div class="input">
      <button type="button" class="btn btn-secondary" value="false" (click)="selected(false)"><i class="fas fa-times"></i></button>
      <button type="button" class="btn tbn-secondary" value="true" (click)="selected(true)"><i class="fas fa-check"></i></button>
    </div>
    <div class="button">
        <button type="button" class="btn btn-darck button-submit" (click)="submit()">
          <i class="fas fa-arrow-circle-right"></i>
        </button>
      </div>
  </div>
