<button type="button" class="btn btn-return" [routerLink]="'/menu'">
  <i class="fas fa-arrow-left"></i>
</button>
<div class="maint container">
  <p class="title">Questionnaire</p>
  <div class="body">
    <app-qcm-form-where-born *ngIf="step === 0" (whereBornEvent)="whereBorn($event)"></app-qcm-form-where-born>
    <app-qcm-form-when-born *ngIf="step === 1" (whenBornEvent)="whenBorn($event)"></app-qcm-form-when-born>
    <app-qcm-form-adopted *ngIf="step === 2"></app-qcm-form-adopted>
  </div>
</div>
